html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: antiquewhite;
    color: #000;
    scrollbar-color: #000 antiquewhite;

}

main {
    display: flex;
    width: 100%;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 10px;

}

.wrapper {
    display: flex;
    width: 50%;
    height: 400px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: antiquewhite;
}

.btn {
    padding: 10px 20px;
    background-color: aquamarine;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1;
}

.btn:hover {
    background-color: darkturquoise;
    border: none;

}

.box {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    background-color: bisque;
    flex: 1;
}

header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    background-color: antiquewhite;
    flex: 1;
}

ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    text-decoration: none;
    flex: 1;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 1;
}

li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    flex: 1;
}

p {
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 20px;
    margin: 0;
    padding: 0;
    flex: 1;
}

input {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    flex: 1;
}

h2 {
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 20px;
    margin: 0;
    padding: 0;
    flex: 1;
}

form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}