html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: antiquewhite;
    color: #000;
    scrollbar-color: #000 antiquewhite;
}

main {
    display: flex;
    width: 100%;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    width: 25%;
    height: 300px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
}

input {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    background-color: aquamarine;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: darkturquoise;
    border: none;
}

.box {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    background-color: bisque;
}

header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    background-color: antiquewhite;
}

ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    text-decoration: none;
}

li {
    list-style-type: none;

}

li a {
    text-decoration: none;
}